# Lines starting with # are treated as comments (or with whitespaces+#).
# It doesn't matter if you use capital letters or not.
# It doesn't matter if you use underscore or camel notation for keys, e.g. episode_timeout is the same as episodeTimeout.

doom_scenario_path = D1_basic.wad
doom_map = map01

# Rewards

# Each step is good for you!
living_reward = 0
# And death is not!
death_penalty = 0

# Rendering options
screen_resolution = RES_160X120
screen_format = GRAY8
render_hud = false
render_crosshair = false
render_weapon = false
render_decals = false
render_particles = false
window_visible = false

# make episodes finish after 10500 actions (tics)
episode_timeout = 10500

# Available buttons
available_buttons =
{
    MOVE_FORWARD
    TURN_LEFT
    TURN_RIGHT
}

# Game variables that will be in the state
available_game_variables = { HEALTH }

mode = PLAYER
