jupyter-book
numba
numpy>=1.20
sphinx<7
sphinxcontrib-bibtex
sphinx_rtd_theme>=0.5.1
sphinx-togglebutton
sphinx-copybutton
sphinx-thebe
sphinx-comments
sphinx-design
sphinx-book-theme
sphinx-jupyterbook-latex
sphinxcontrib-bibtex
tensorboard
torch
tqdm
protobuf
pettingzoo
nbsphinx
recommonmark
poetry
myst-nb